.imgst1{
    background-image: url(asco_truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst2{
    background-image: url(figura_truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst3{
    background-image: url(yoda.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst4{
    background-image: url(truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc1{
    background-image: url(mando.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc2{
    background-image: url(ps5.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc3{
    background-image: url(consola_antigua.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc4{
    background-image: url(swicht.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgd1{
    background-image: url(camisa_japones.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd2{
    background-image: url(camisa_nintendo.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgd3{
    background-image: url(sinic.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd4{
    background-image: url(consola.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}