body{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: initial;
}

#menu_buscar{
    display: none;
}
#cabezera{
    display: flex;
}

.busqueda{
    height: 40px;
    width: 172px;
    border-style: none;
    background-color: #f5f5f5;
    border-radius: 40px;
    position: relative;
    padding-right: 50px;
    padding-left: 20px;
    margin-left: 10px;
}

.busqueda::-webkit-input-placeholder{
    color: #A2A2A2;
    position: absolute;
    top: 12px;
    
}
.busqueda:focus{
    outline: none;
}

.menu_buscar{
    position: relative;
    margin: 0 auto;
    padding: 1rem;
}

.arrowheader{
    transform: rotate(180deg);
    color: #A2A2A2;
    padding-bottom: 4px; 
}

.menu_buscar .fa-magnifying-glass{
    color: #A2A2A2;
    position: absolute;
    top: 30px;
    right: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
        
}
.cabezara{
    width: 100%;
    justify-content: space-between;
    align-items: center;
        
}
.alura{
    color:#2A7AE4;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
    
.titulotienda{
    display: flex;
    align-items: center;
}
    
.btnLogin{
    color: #2A7AE4;
    background-color: white;
    border-color: #2A7AE4;
    border-style:solid;
    padding-top: 0.7rem;
     padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}
  
.btnLogin:hover{
    cursor: pointer;
}

.principal{
     background-image: url(banner.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 192px;
    padding: 16px;
    margin-bottom: 1rem;
}
    
.banner{
    color: white;
    margin-top: 5rem;      
}
    
.titulo{
    font-weight: 700;
    font-size: 22px;
}
    
.ver{
    color: white;
    background-color: #2A7AE4;
    border-color: #2A7AE4;
    border-style:solid;
    font-weight: 500;
    display:block ;
}
 .descripcion{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
}
    
    
.productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}
    
    
.headerProductos{
    display: flex;
    justify-content: space-between;
    height: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}
    
.producto{
    width: 100%;    
}
    
.tituloProductos{
    font-weight: 700;
    font-size: 22px;
}
.vertodos{
    color: #2A7AE4;
}
.arrow{
    margin-left:4px;
}
    
    
.texto{
display: flex;
flex-direction: column;
        
}
    
.txt1{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 4px;
    margin-left: 0;
}
    
.price{
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 4px;
    margin-left: 0;
}
    
.verproducto{
    color: #2A7AE4;
    font-weight: 700;
    line-height: 16px;
     margin: 4px;
    margin-left: 0;
}

@media (min-width: 800px) {
    .principal{
        height: 352px;
        padding-left: 10%;
    }
    .banner{
        margin-top: calc( 340px - 92px);
    }
    .header{
        display: none;
    }
    .header_escritorio{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        align-items: center;
    }

    .formulario_header{
        position: relative;
    }

    .barra_buscar_logo_lupa{
        position: absolute;
        top: 12px;
        right: 20px;
        color: #A2A2A2;
    }

    .barra_buscar_logo_lupa:hover{
        cursor: pointer;
    }

    .barra_buscar{
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
    }
    

@media  (min-width: 500px) {
    
}