.imgt1{
    /* background-image: url(../img/asco_truper.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgt2{
    /* background-image: url(../img/figura_truper.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgt3{
    /* background-image: url(../img/yoda.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgt4{
    /* background-image: url(../img/truper.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}



.imgc1{
    /* background-image: url(../img/mando.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc2{
    /* background-image: url(../img/ps5.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc3{
    /* background-image: url(../img/consola_antigua.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc4{
    /* background-image: url(../img/swicht.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}


.imgd1{
    /*background-image: url(../img/camisa_japones.png);*/
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd2{
    /* background-image: url(../img/camisa_nintendo.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgd3{
    /* background-image: url(../img/sinic.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd4{
    /* background-image: url(../img/consola.png); */
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}



@media (min-width: 900px) {
    .imgt1{
        width: 176px;
        height: 174px;
    }

    .imgt2{
        width: 176px;
        height: 174px;
    }
    .imgt3{
        width: 176px;
        height: 174px;
    }
    .imgt4{
        width: 176px;
        height: 174px;
    }
    .imgt5{
        /* background-image: url(../img/babyyoda.png); */
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgt6{
        /* background-image: url(../img/trajenegro.png); */
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgc1{
        width: 176px;
        height: 174px;
    }
    .imgc2{
        width: 176px;
        height: 174px;
    }
    .imgc3{
        width: 176px;
        height: 174px;
    }
    .imgc4{
        width: 176px;
        height: 174px;
    }
    .imgc5{
        /* background-image: url(../img/exboxseriesx.png); */
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgc6{
        /* background-image: url(../img/consolademano.png); */
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgd1{
        width: 176px;
        height: 174px;
    }
    .imgd2{width: 176px;
        height: 174px;
    }

    .imgd3{
        width: 176px;
        height: 174px;
    }
    .imgd4{
        width: 176px;
        height: 174px;
    }
    .imgd5{
        /* background-image: url(../img/camisahamburgesa.png); */
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgd6{
        /* background-image: url(../img/pikacho.png); */
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}