.imgst1{
    background-image: url(/assets/img/asco_truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst2{
    background-image: url(/assets/img/figura_truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst3{
    background-image: url(/assets/img/yoda.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst4{
    background-image: url(/assets/img/truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc1{
    background-image: url(/assets/img/mando.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc2{
    background-image: url(/assets/img/ps5.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc3{
    background-image: url(/assets/img/consola_antigua.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc4{
    background-image: url(/assets/img/swicht.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgd1{
    background-image: url(/assets/img/camisa_japones.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd2{
    background-image: url(/assets/img/camisa_nintendo.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgd3{
    background-image: url(/assets/img/sinic.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd4{
    background-image: url(/assets/img/consola.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}


@media (min-width: 900px) {
    .imgst1{
        width: 176px;
        height: 174px;
    }

    .imgst2{
        width: 176px;
        height: 174px;
    }
    .imgst3{
        width: 176px;
        height: 174px;
    }
    .imgst4{
        width: 176px;
        height: 174px;
    }
    .imgst5{
        background-image: url(/assets/img/babyyoda.png);
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgst6{
        background-image: url(/assets/img/trajenegro.png);
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgc1{
        width: 176px;
        height: 174px;
    }
    .imgc2{
        width: 176px;
        height: 174px;
    }
    .imgc3{
        width: 176px;
        height: 174px;
    }
    .imgc4{
        width: 176px;
        height: 174px;
    }
    .imgsc5{
        background-image: url(/assets/img/exboxseriesx.png);
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgsc6{
        background-image: url(/assets/img/consolademano.png);
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgd1{
        width: 176px;
        height: 174px;
    }
    .imgd2{width: 176px;
        height: 174px;
    }

    .imgd3{
        width: 176px;
        height: 174px;
    }
    .imgd4{
        width: 176px;
        height: 174px;
    }
    .imgsd5{
        background-image: url(/assets/img/camisahamburgesa.png);
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgsd6{
        background-image: url(/assets/img/pikacho.png);
        width: 176px;
        height: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}