.imgst1{
    background-image: url(/img/unsplash_6FDXGY9J6y4casco_truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst2{
    background-image: url(/img/unsplash_epRFE_hBNjofigura_truper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst3{
    background-image: url(/img/unsplash_KeGToDVN0l4yoda.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgst4{
    background-image: url(/img/unsplash_4OHkK555s1Atruper.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc1{
    background-image: url(/img/unsplash_0POwK6iAiRQmando.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc2{
    background-image: url(/img/unsplash_caNzzoxls8Qps5.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc3{
    background-image: url(/img/unsplash_ZV7lnfyQLmAconsola_antigua.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgc4{
    background-image: url(/img/unsplash_wa5z9o9fgjwswicht.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgd1{
    background-image: url(/img/unsplash_fMP-oCze3AYcamisa_japones.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd2{
    background-image: url(/img/unsplash_bUgaIaZysH0camisa_nintendo.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgd3{
    background-image: url(/img/unsplash_sYVY_ZKwaxUsonic.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgd4{
    background-image: url(/img/unsplash_jMT6BrgBuXUcontrol\ y\ consola.png);
    width: 100%;
    height: 174px;
    background-size: cover;
    background-repeat: no-repeat;
}